*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.div{
    width: 1229px;
    height: 620px;
    background: #020202;
    border-radius: 0px 0px 32px 32px;
}

.box11{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img5{
    width: 50px;
    height: 50px;
}

.span2{
    font-style: normal;
    font-weight: 800;
    font-size: 18.4746px;
    color: #020202;
}

.box13{
    display: flex;
    gap: 30px;
}

.box14{
    width: 139px;
    height: 54px;
    border: 2px solid #FFFFFF;
    border-radius: 27px;
    margin-left: 270px;
}

.p8{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #EFFB56;
}

.h5{
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    color: #FFFFFF;
}

.span3{
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    color: #FFFFFF;
    color: rgba(239, 251, 85, 1);
}

.span4{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;  
    color: #FFFFFF;  
}

.box16{
    width: 139px;
    height: 54px;
    background: #EFFB56;
    border-radius: 27px;
}

.p9{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #020202;    
    padding: 15px;
}

.p10{
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #656565;
    margin-top: 70px;
}

.box18{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img6{
    margin-top: -366px;
    margin-left: -950px;
    border-radius: 32px;
}

.box20{
    margin-top: -18px;
}

.img7{
    margin-top: -450px;
    margin-left: 700px;
    border-radius: 32px;
}

.img8{
    border-radius: 20px;
}

.p7{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.box12{
    width: 99px;
    height: 87px;
    background: #EFFB55;
    border-radius: 0px 0px 8px 8px;
    margin-left: -100px;
}

.div1{
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-evenly;
    gap: 70px;
    margin-top: 30px;
}

.h1{
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    color: #24272B;
}

.img1{
    width: 32px;
    height: 32px;
    margin-top: 40px;
}

.div2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.h2{
    font-style: normal;
    font-weight: 800;
    font-size: 83.76px;
    line-height: 106px;
    color: #24272B;
}

.box1{
    width: 781.76px;
    height: 482.78px;
    background-image: url(Mask\ group\ \(4\).png);
    box-shadow: 10px 10px 130px orange;
    border-radius: 20px;
}

.div3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
}

.box2{
    background-image: url(แบรนด์-jordan\ 1.png);
    border-radius: 20px;
    width: 454.99px;
    height: 399.08px;
    box-shadow: 10px 10px 130px orange;
    border-radius: 15px;
    transform: rotate(-6deg);
}

.img9{
    border-radius: 20px;
}

.div4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.p1{
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 150%;
    color: #24272B;
}

.h3{
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 91px;
    text-align: center;
    text-transform: uppercase;
    color: #24272B;
}

.box4{
    text-align: center;
    margin-top: 70px;
}

.box5{
    position: absolute;
    background-color: yellow;
    opacity: 0.8;
    transform: rotate(5.9deg);
    width: 1500px;
    height: 72.08px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -90px;
    margin-left: 195px;
}

.p2{
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 42px;
}

.box6{
    opacity: 0.9;
    background-color: white;
    transform: rotate(-3.94deg);
    width: 1500px;
    height: 72.08px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -95px;
    margin-left: 195px;
}

.h4{
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 91px;
    color: #24272B;
}

.box7{
    height: 91px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;
}

.img2{
    width: 20px;
    height: 20px;
}

.p3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #24272B;
}

.div6{
    margin-top: 100px;
}

hr{
    width: 95px;
    height: 0px;
    transform: rotate(-90deg);
    background-color: #000000;
    margin-top: 90px;
}

.div7{
    margin-top: 90px;
    width: 383px;
    height: 72.39px;
    background: #050505;
    border-radius: 36.1942px;
}

.p4{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.06em;
    color: #F0FB56;
    padding: 25px;
}

.div8{
    height: 410px;
    width: 1310px;
    background: #030303;
    border-radius: 32px 32px 0px 0px;
    margin-top: 50px;
    box-shadow: 0px -25px 90px 20px rgb(236, 165, 110);
}

.p5{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.box8{
    display: flex;
    align-items: center;
    gap: 80px;
}

.img3{
    width: 5.73px;
    height: 5.42px;
}

.box9{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.box10{
    width: 121.89px;
    height: 88.96px;
    background: #F0FB56;
    transform: rotate(-45.17deg);
    margin-top: 60px;
}

.span1{
    position: absolute;
    font-style: normal;
    font-weight: 800;
    font-size: 18.4746px;
    color: #020202;
    margin-left: -70px;
    margin-top: 55px;
}

.p6{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #FFFFFF;    
    margin-top: 100px;
}